<head>
  <title>webPush</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    {{> subscribe}}

</body>

<template name="subscribe">
  <div>
    <h1>Subscribe</h1>
    Name:
    <input type="text" class="form-control" id="subname" /><br /><br />
    <button class="btn btn-success" id="sub">Subscribe</button>
    <button class="btn btn-danger" id="unsub">Un subscribe</button>
  </div>

  <div>
    <h1>Notify</h1>
    Name (substring):
    <input type="text" class="form-control" id="sendname" /><br />
    Message:
    <input type="text" class="form-control" id="sendmessage" /><br /><br />
    <button class="btn btn-primary" id="send">Notify</button><br /><br />
    Namen:
    {{subscribed}}
  </div>
</template>
